element.style {
    overflow-x: hidden;
}
body {
    color: #444444;
}
body {
    font-weight: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
body, .container, .full-width .ubermenu-nav, .container-width, .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
body {
    color: #777;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --primary-color: #e74c3c;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}